# Environment variables
.env

# Google credentials
credentials.json

# Virtual environment
telegram-bot-env/

# Python cache
__pycache__/
*.pyc
*.pyo

/.git

# OS files
.DS_Store
Thumbs.db
/.env
/credentials.json
/.telebot-venv
/.testgdocs-venv
/.win-telebot-venv
/__pycache__

/token.pickle
/test_save_to_gdocs.py
/credentials-test.json

test.py
test_image.png
.whating-venv

client-secret-desktop-test.json
google_oauth.json



test_image.png/